.plants{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #192116;
    color: beige;
}
.plants>h2{
    margin-top: 30px;
    font-size: 40px;
}
.details{
    margin-top: 30px;
    display: flex;
}
.plantsImage{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plantInfo{
    width: 60%;
    padding: 50px;
    font-size: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.plantInfo>p>span{
    font-weight: 700;
}
.plantModels{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 400px;
    width: 600px;
}
.arButton{
    margin-bottom: 40px;
}
.arButton>button{
    padding: 20px 80px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    background-color: greenyellow;
}